@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-custom-gradient {
  background: linear-gradient(rgb(236, 220, 255), rgb(255, 255, 255));
}

.bg-image{
  background-image: url('https://freshcart77.myshopify.com/cdn/shop/files/background-newsletter.jpg?v=1731480650%27');
  background-repeat: no-repeat;
  width: 100%;
  width: 1300px;
}